.env
.gitconfig
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.coverage
.coverage.*
htmlcov/
build/
dist/
site/
.eggs/
*.egg
*.egg-info/
.venv/
venv/
ENV/
env/
.langgraph_api